.container {
  height: 2.625rem;
  border-radius: 4px;
  border: 1px solid var(--gray-300);
  background: var(--gray-200);
  transition: all .4s ease 0s;

  display: flex;
  align-items: center;
  justify-content: space-between;

  input {
    border: none;
    height: 100%;
    flex-grow: 1;
    font-size: 0.75rem;
    color: var(--gray-600);
    padding: 0 0.75rem;
    background: none;
    outline: none;
    z-index: 1;

    &[type=number]::-webkit-inner-spin-button,
    &[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    &:not(:placeholder-shown) {
      ~ span {
        opacity: 0;
      }
    }

    &:placeholder {
      color: var(--gray-500);
    }
  }

  span {
    position: absolute;
    color: var(--gray-500);
    transition: all .4s ease 0s;
    transform: translateY(-50%);
    font-size: 0.75rem;
    right: 0.75rem;
    top: 50%;
  }

  &:focus-within {
    outline: transparent;
    box-shadow: 0 0 0 1px var(--yellow-800);
  }
}