.wrapper {
  display: flex;
  max-width: 1152px;
  padding: 2.5rem 1rem;
  flex-direction: column;
  margin: 0 auto;
  gap: 2rem;

  > div {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    .order + .order {
      margin-top: 2rem;
      padding-top: 1.5rem;
      border-top: 1px solid var(--gray-400);
    }

    h1 {
      font-size: 2rem;
      font-weight: 800;
      line-height: 2.625rem;
      color: var(--yellow-800);
      font-family: "Baloo 2", cursive;
    }

    a {
      text-decoration: none;
    }
  }
}

.orderInfo {
  display: grid;
  grid-template-columns: repeat(5, auto);
  margin-top: 0.5rem;
  gap: 1.5rem;

  span {
    font-size: 1.1rem;

    & + span {
      padding-left: 1.5rem;
      border-left: 2px solid var(--gray-500);
    }
  }
}

.orderProducts {
  margin-top: 1.5rem;

  > div {
    gap: 1.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 1rem;
  }
}

.orderShipping {
  display: block;
  margin-top: 1.5rem;
  border-radius: 8px;
}

.button {
  border: 0;
  display: flex;
  font-size: 1em;
  cursor: pointer;
  max-width: 300px;
  border-radius: 6px;
  margin-top: 0.65rem;
  text-decoration: none;
  transition: all 0.4s ease 0s;
  background: var(--yellow-500);
  padding: 0.85rem 2.8rem;
  line-height: 1.575rem;
  color: var(--white);
  align-items: center;
  text-align: center;
  font-weight: 700;
  outline: none;
  gap: 0.5rem;

  &:not(:disabled) {
    &:hover {
      background: var(--yellow-800);
    }
  }

  &:disabled {
    opacity: 0.8;
    cursor: not-allowed;
  }
}

@media (max-width: 600px) {
  .orderInfo {
    grid-template-columns: repeat(1, 1fr);

    span {
      border-left: none;

      & + span {
        border-left: 0px;
        padding-left: 0;
      }
    }
  }

  .orderProducts {
    > div {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

@media (min-width: 600px) and (max-width: 1124px) {
  .orderInfo {
    grid-template-columns: repeat(2, 1fr);

    span {
      border-left: none;

      & + span {
        border-left: 0px;
        padding-left: 0;
      }
    }
  }

  .orderProducts {
    > div {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
